.share-trade {
  $colorGrid:#BDC3C7;
  $colorAvailable:#ECF0F1;
  $colorState0:#3498DB;
  $colorState1: #39418b;
  $colorState2:#E74C3C;
  $colorState3:#34495E;
  $colorState4:#1ABC9C;

  $colorList: (
    ("available", $colorAvailable),
    ("state0", $colorState0),
    ("state1", $colorState1),
    ("state2", $colorState2),
    ("state3", $colorState3),
    ("state4", $colorState4)
  );

  .Matrix {
    border: 1px solid black;

    .Grid {
      stroke: $colorGrid;
    }

    .Cell {
      @each $colorMap in $colorList {
        $state: nth($colorMap, 1);
        $color: nth($colorMap, 2);

        &.#{$state} {
          fill: $color;
        }
      }
    }
    .available {
      stroke: black;
      stroke-width: 0.1;
    }
  }

  .asset-matrix {
    border-right: 1px solid #888888;
  }

  .page-content {
    height: calc(100vh - 70px);
    padding-right: 0;

    .row {
      height: 100%;
    }
  }

  .asset-matrix {
    height: 100%;
  }
  .asset-history {
    height: calc(100vh - 70px);
    overflow-y: scroll;
    padding: 0;
  }

  .asset-container {
    border-bottom: 1px solid lighten($fg-color, 50%);
    padding: 1em;
    margin-bottom: .5em;
  }

  .asset-container-id,
  .asset-container-timestamp {
    font-size: 0.8em;
    color: lighten($fg-color, 50%);
    text-transform: uppercase;
  }

  .asset-container-id {
    font-style: italic;
    margin-bottom: 1em;
    font-size: 0.75em;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .asset-container-timestamp {
    margin-bottom: -.6em;
  }

}