
.on-the-record {

    .asset-container {
        background: lighten($fg-color, 95%);
        border: 1px solid lighten($fg-color, 50%);
        border-radius: .7em;
        margin-bottom: .5em;
    }

    .asset-container-id {
        color: lighten($fg-color, 50%);
    }

    .page-content {
        padding-bottom: 5em;
        padding-top: 1em;
    }
}