@import "../../lib/css/scss/variables";

.interledger {

    .asset-container {
        border: 1px solid lighten($fg-color, 70%);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        margin-top: 1em;

        &:hover {
            border: 1px solid $ascribe-pink;
            cursor: pointer;
        }

        &.inBacklog {
            background: rgba(black, .05);
            &:hover {
                border: 1px solid lighten($ascribe-pink, 50%);
                cursor: default;
            }
        }
    }

    .asset-container-actions {
        margin-top: 1.7em
    }

    .asset-container-id {
        color: lighten($fg-color, 50%);
    }

    .asset-escrow-details {
        color: rgba(black, 0.8);
        font-size: 0.8em;
        font-style: italic;
        margin-bottom: -1em;
        margin-top: 1em;
        text-align: right;

        &.isExpired {
            color: rgba(red, 0.8);
        }
    }

    .card {
        overflow: visible;
    }

    .ledger-0 {
        color: darken($ascribe-blue, 10%);
    }
    .ledger-1 {
        color: $ascribe-pink;
    }
    .ledger-2 {
        color: $ascribe-dark-blue;
    }
    .ledger-3 {
        color: $ascribe-black;
    }

    #wrapper {
        margin-top: 80px;
        padding-left: 0 !important;
    }

}