@import "../../lib/css/scss/variables";

.interledger {

    .asset-container {
        &:hover {
            border: 1px solid $ascribe-pink;
        }
    }

    #wrapper {
        margin-top: 80px;
        padding-left: 0 !important;
    }

}